.odd {
    background-color: rgb(245, 178, 178);
    font-family: Verdana, "DejaVu", sans-serif;

}


#two {
    color: blue;
    font-size: 36px;

}

#four {
    background-color: rgb(136, 240, 150);
    font-weight: bold;
    font-size: 24px;
}

#adjust_font_size {
    font-size: 24px;
}